- var pageInfo = {author:{name:'정진우', email:'doublejnu@gmail.com'}, template:'Pug(구 jade)'};
- var menu = ["Getting Started", "Dependencies", "Further Updates", "Contact"];
doctype html
html
	head
		block meta
			meta(charset='utf-8')
		block title
			title #{pageInfo.author.name}의 #{pageInfo.template} 테스트
		block modules
			script(src='js/jquery/jquery.js')
	body
		block content
			div#wrap
				block header
					header#header
						h1 Gulpfile.js for SASS, ECMAScript 6, Pug
						nav#gnb
							ul.list_gnb
								each val in menu
									li
										- var url = val.toLowerCase().replace(' ', '');
										a.link_gnb(href="javascript:;")=val
				block main
					main#cont_main

				block footer
					footer#footer.wrap_foot
						h2.ir_pm 꼬리말 영역
						p.desc_copyright Copyleft &copy; #{pageInfo.author.name}, email: #{pageInfo.author.email}. Free to use under MIT license
